@page
@model dsd03Razor2020Assessment.Pages.IndexModel


@{
    ViewData["Title"] = "Movie Database";
}

<h2>Welcome to the Movie database</h2>


<div class="container">
    <div class="row">
       
        @foreach (var item in Model.Results)
        {

            var PosterPath = "https://image.tmdb.org/t/p/w200/" + @item.PosterPath;

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=@PosterPath alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text"> @item.Overview</p>
                    <p class="card-text"> @item.ReleaseDate</p>

                    @*<div>
                        <span>@movie.Title</span>
                        <a asp-page="/Movies/Create"
                           asp-route-title="@movie.Title"
                           asp-route-releaseDate="@movie.ReleaseDate.ToString("yyyy-MM-dd")"
                           asp-route-overview="@movie.Overview"
                           asp-route-genre="@movie.Genre"
                           asp-route-price="@movie.Price">
                            Create in Local DB
                        </a>
                    </div>*@
                    @*<a asp-page="/Movies/Create" class="btn btn-primary">Watch  </a>*@

                </div>
            </div>

        }

    </div>
</div>



